.small .swu-card.container > img {
  max-width: 50px;
}

.swu-card.container {
  position: relative;
  cursor: pointer;
  z-index: 10;
  width: fit-content;
  height: fit-content;

  &:hover {
    z-index: 20;
  }

  &.selected {
    position: fixed;
    z-index: 20;

    > img.in-game {
      box-shadow: 0px 0px 5px 5px red;
    }
  }

  &.exhausted {
    transform: rotateZ(5deg);

    img {
      filter: grayscale(1) contrast(0.4);
    }
  }

  > img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 3px;
    display: block;
    z-index: 11;
  }

  .stats {
    position: absolute;
    bottom: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 12;

    &.power {
      left: 5px;
      background-color: #e8202b;
      box-shadow: 0px 0px 2px 3px hsl(357, 81%, 65%) inset, 0px 0px 1px 0px black;
      border-radius: 5px;
    }

    &.hp {
      right: 5px;
      background-color: #019ecf;
      box-shadow: 0px 0px 2px 3px hsl(194 99% 65% / 1) inset, 0px 0px 1px 0px black;
      border-radius: 5px;
    }

    &.shield {
      height: 25px;
      width: 25px;
      border: 1px solid black;
      background-color: #f5cd14;
      color: black;
      border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
      top: 5px;
      right: 5px;
    }

    &.xp {
      top: 5px;
      left: 5px;
      max-width: 45px;
      
      background-color: rgb(255, 255, 255);
      color: black;
      display: flex;
      justify-content: flex-start;
      width: fit-content;
      padding: 0 2px;
      border-radius: 5px;
      align-items: baseline;
      box-shadow: 0px 0px 1px 0px black;

      span {
        font-size: 8px;
      }
    }
  }

  .card-child {
    > div.swu-card {
      position: absolute;
    }
  }
}

.swu-card.in-display {
    z-index: 15;
    border-radius: 15px;
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    max-height: 500px;
    max-width: 500px;

    &.in-display-leader {
      top: inherit;
      bottom: 10px;
    }

    &:hover {
      display: block;
    }
}

.swu-card.container:hover + .in-display {
  display: block;
}

.swu-card.container:hover + .in-display + .in-display-leader {
  display: block;
}

.top .in-display {
  top: inherit;
  bottom: 10px;

  &.in-display-leader {
    top: 10px;
    bottom: inherit;
  }
}