body {
    overflow:  hidden;
}
main {
    margin: auto;
    width: 1000px;
    height: 840px;
    color: white;
    font-size: 20px;
    line-height: 1.6;

    dialog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5000;
    }
}