$light: #f8fafc;
$black: #010101;
$white: #dfe6ed;
$grey: #838587;
$brown: #614725;

$montana-gold: #ddcb9c;
$toyota-red: #aa263b;
$gold: #ebb71d;
$nordic-blue: #5e9aad;

$power: #e8202b;
$life: #019ecf;