---
import Layout from '../layouts/Layout.astro';
import {Game as G} from '../components/Game.tsx';
---

<Layout title="SWU">
    <main>
		<G client:load
		></G>
    </main>
</Layout>

<style lang="scss">
	body {
		overflow:  hidden;
	}
	main {
		margin: auto;
		width: 1000px;
		height: 820px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>


<script is:inline>
    if (!localStorage.getItem('deck') || !sessionStorage.getItem('game')) window.location.replace('pre-game')
</script>