---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SWU">
    <div class="home">
        <div class="title">
            Looking for an opponent...
        </div>
    </div>
</Layout>

<style lang="scss">
.home {
    .title {
        color: aliceblue;
        font-size: 24px;
    }
}
</style>

<script is:inline>
    if (!localStorage.getItem('deck')) window.location.replace('pre-game')
    let myuuid = localStorage.getItem('myuuid');
    
    document.addEventListener('DOMContentLoaded', async () => {
        response = await fetch("/api/matchmaking", {
          method: "POST",
          body: JSON.stringify({ uuid: myuuid }),
          headers: {
            "Content-Type": "application/json",
          },
        });

        console.log(response);
        if (response.status === 200) {
            const data = await response.json();

            localStorage.setItem('myuuid', data.uuid)

            if (data.game) {
                sessionStorage.setItem('game', JSON.stringify(data.game));
                window.location.replace('/game');
                return;
            }
        }

        const eventSource = new EventSource('/api/matchmaking-sub');
        eventSource.onmessage = async (event) => {
            console.log("found-match-" + myuuid);
            sessionStorage.setItem('game', event.data);
            window.location.replace('/game');
        };
    });

    window.addEventListener("unload", function(e){
        if (!localStorage.getItem('deck')) return;
        fetch("/api/matchmaking?uuid="+myuuid, {
          method: "DELETE",
          keepalive: true
        });
    });
    

</script>